@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



*{
    font-family: 'quicksand', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;     
} 


@font-face {
    font-family:'poppins-light' ;
    src: url(Poppins-Light.ttf);
}

@font-face {
    font-family:'poppins-regular' ;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family:'poppins-medium' ;
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family:'poppins-semibold' ;
    src: url(Poppins-SemiBold.ttf);
}
@font-face {
    font-family:'poppins-bold' ;
    src: url(Poppins-Bold.ttf);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #B8C6D9; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #033159; 
  }
  
  /* Handle on hover */
 




button {
    cursor: pointer;
  }
  



.preloader{
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #033159;
    color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.preload-con{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'satoshi-regular';
    font-size: 20px;
}

.preload-con span{
    left: 85%;
    top: 90%;
    position: absolute;
}

.pre-text img{
    width: 100%;
}


.navbar{
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 40px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    color: #000;
    font-weight: bold;
}

.register button{
    width: 170px;
    height: 50px;
    background: #000;
    color: #f8f8f8;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.app{
    display: flex;
    align-items: center; 
    margin-top: 5%;
}


.app button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37%;
    height: 63px;
    background: #000;
    color: #f8f8f8;
    border-radius: 10px;
    border: 2px solid #f8f8f8;
    margin-right: 30px; 
}

.app button:last-child{
    margin-right: 0; 
}

.app button img{
    margin-right: 10px;
}

.download{
    text-align: left;
}

.download p{
    font-size: 14px;
}

.download span{
    font-weight: bold;
}


.head-text{
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}

.head-text h2{
    width: 100%;
    margin: 0 auto;
    font-size: 48px;
     font-family: 'Quicksand', sans-serif;
     overflow: hidden;
}

.head-text h2 span{
    display: inline-block;
    transform: translateY(100%);
}


.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 2em 5em;
    background: #B8C6D9;
    border-radius: 20px;
}

.hero-left {
    flex-basis: 45%;
}

.hero-left h2{
    color: #033159;
    font-size: 55px;
    font-family:'poppins-bold' ;
}


.hero-right {
    flex-basis: 45%;
}

.hero-right img{
    width: 100%;
    margin-left: 20px;
}


@media screen and (max-width:990px){
    .preload-con span{
        left: 50%;
        top: 90%;
        position: absolute;
    }

    nav ul{
        display: none;
    }

    .register{
        display: none;
    }

    .head-text h2{   
        font-size: 18px;
        
    }

    .hero-section{
        margin-top: 20%;
        flex-direction: column-reverse;
        padding: 2em 0;
    }

    .hero-left {
        flex-basis: 100%;
    }
    
    .hero-left h2{
        color: #033159;
        font-size: 24px;
        font-family:'poppins-bold' ;
        text-align: center;
    }

    .app{
        display: flex;
       flex-direction: column;
    }
    
    .app button{
       margin-bottom: 30px; 
    }

    .app button:last-child{
        margin-right: 15px; 
    }

    
    
    .hero-right {
        flex-basis: 100%;
        margin-top: 5%;
    }
}


.desc{
    width: 90%;
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc p{
    font-size: 28px;
    font-family:'poppins-semibold' ; 
}

.desc-box{
    flex-basis: 47%;
}


.desc-box h2{
    font-size: 92px;
    font-family:'poppins-bold' ; 
     overflow: hidden;
}

.desc-box h2 span{
    display: inline-block;
    font-family:'poppins-bold' ; 
    transform: translateY(100%);
}

.desc-box{
    flex-basis: 47%;
}


.desc-img{
    flex-basis: 47%; 
    height: 130vh;
    overflow: hidden;
}

.desc-img img{
    width: 100%;
    margin-left: 35px;
}

@media screen and (max-width:990px){
  .desc{
     flex-direction: column;
     margin-top: 25%;
  }  

    .app button{
        width: 145px;
        height: 53px;
        margin-right: 15px;
    }

    .desc-img{
        flex-basis: 47%; 
        height: auto;
        overflow: hidden;
    }

    .desc-box{
        text-align: center;
    }

    .desc p{
        font-size: 20px;
        font-family:'poppins-semibold' ; 
    }

    .desc-box h2{
        text-align: center;
        font-size: 36px;
        font-family:'poppins-bold' ; 
         overflow: hidden;
    }
    
}


.setup{
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
}

.setup-head{
    text-align: center;
}

.setup-head h2{
    font-size: 48px;
    font-family:'poppins-semibold' ; 
}

.setup-head p{
    overflow: hidden;
}

.setup-head p span{
    font-size: 32px;
    display: inline-block;
    font-family:'poppins-medium' ;
    transform: translateY(100%); 
}

.setup-box{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}


.setup-data{
    flex-basis: 30%;
}

.setup-data p{
    overflow: hidden;
}

.setup-data p span{
    font-size: 20px;
    display: inline-block;
    transform: translateY(100%);
    font-family:'poppins-medium'; 
}

.setup-data img{
    width: 100%;
}



@media screen and (max-width:990px){
    .setup-head h2{
        font-size: 24px;
    }
  
    
    .setup-head p span{
        font-size: 18px;
    }
    
    .setup-box{
        flex-direction: column;
    }   
    .setup-data{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

   

    .setup-data p span{
        font-size: 18px;
    }
    
}


.faq{
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq h2{
    font-size: 96px;
    font-family:'poppins-bold'; 
}

.faq-text{
    flex-basis: 45%;
}

.faq-con{
    flex-basis: 45%;
}

.job-desc{
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
 }

 .caret-drop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
 }
 .caret-drop img{
    width: 20px;
    height: 20px;
    object-fit: cover;
 }

 .caret{
    transition: 0.3s;
    cursor: pointer;
}

.job-details .active .caret{
    transform: rotate(-180deg);
}

 .caret-drop p{
    text-align: left;
    font-size: 20px;
    font-family:'poppins-medium'; 
 }

 #buyer-margin{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
 }

 .buyer-margin p{
    font-size: 18px;
    margin-bottom: 20px;
    font-family:'poppins-medium'; 
 }





 @media screen and (max-width:900px){  

    .faq{
        flex-direction: column;
    }

    .faq-text{
        flex-basis: 100%;
    }
    
    .faq-con{
        flex-basis: 100%;
    }


    .job-details{
        margin-top: 100px;
        margin-bottom: 15%;
    }

    .job-details h1{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10%;
    }

    .faq h2{
        font-size: 36px;
        font-family:'poppins-bold'; 
    }
    

    .job-desc{
        margin-top: 30px;
    }
    
    .job-details p{
        width: 100%;
        font-size: 16px;
     }
     
    .caret-drop p{
        font-size: 16px;
    }

    .caret-drop img{
        width: 20px;
        height: 20px;
     }

    .buyer-margin{
        margin-top: 10px;      
    }
    .buyer-margin p{
        font-size: 14px;
    }
    .buyer-margin h3{
        font-size: 14px;
        margin-bottom: 5%;
    }

    #buyer-margin{
        justify-content: center;
        align-items: center;
     }

     #buyer-margin p{
        width: 100%;
     }

     .buyer-margin a{
       margin-bottom: 10px;
     }
    
    
 }







.blog{
    width: 90%;
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

.blog-image img{
   width: 100%;
}

.blogpost h2{
    font-size: 32px;
    font-family:'poppins-bold' ; 
    margin-bottom: 10px;
}


.blogpost p{
    font-size: 32px;
    font-family:'poppins-medium' ; 
     overflow: hidden;
}

.blogpost p span{
    display: inline-block;
    font-family:'poppins-medium' ; 
    transform: translateY(100%);
}

.blog-links{
    margin-top: 20px;
}

.blog-links a{
    color: #343434;
    font-size: 20px;
    font-family:'poppins-medium' ; 
    margin-right: 30px;
    padding-bottom: 5px;
    border-bottom:2px solid #343434; ;
}

@media screen and (max-width:990px){
    .blog{
        flex-direction: column;
    }

    .blogpost p{
        font-size: 20px;
    }
    
    
}




.works{
    width: 90%;
    margin: 0 auto;
    margin-top: 15%;
}
